/* Estilos globales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Lexend;
  background-color: #f4f6f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

@font-face {
  font-family: 'Lexend';
  src: url('Lexend-Medium.ttf') format('truetype');
}

/* Encabezados */
h2 {
  color: #007BFF;
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs y botones */
input {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  border-radius: 3px;
	border: 2px solid #ffffff;
	box-shadow: 0 0 10px #a2d8ff ;
}

/* Enlaces */
a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lista de medicamentos */
ul#lista {
  list-style-type: none;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
}

ul#lista li {
  background-color: #e9ecef;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Mensajes de estado */
#scriptStatusLista,
#scriptStatusRegistro,
#scriptStatus {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

