/* Estilos globales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Lexend-Medium;
  background-color: #0c2242;
  background-image: url(imagensitas\fonditoazuldegradadouwu.jpg);
  color: #333;
  margin: 0;
  padding: 20px;
}

@font-face {
  font-family: 'Lexend';
  src: url('Lexend-Medium.ttf') format('truetype');
}

.container{
  background-color: rgba(28, 104, 166, 0.661);
  align-items: center;
  padding: 30px;
  margin-block: 20px;
  margin-inline: 120px;
}

.incorrecto{
  border-color: rgb(255, 0, 0);
  background-color: rgb(255, 221, 217);
  border-width: 3px;
}

.msj-error{
  color:red;
  font-size: 15px;
  text-align: center;
  background-color: rgba(255, 187, 179, 0.695);
  padding-block: 5px;
  margin-bottom: 10px;
}

/* Encabezados */
h2 {
  font-family: 'Lexend';
  color: #dfc2ff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}

label{
  font-family: 'Lexend';
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Inputs y botones */
input {
  font-family: 'Lexend';
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus{
  box-shadow: 0 0 10px #007BFF
}

button {
  font-family: 'Lexend';
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  border-radius: 3px;
	border: 2px solid #ffffff;
	box-shadow: 0 0 10px #a2d8ff ;
  scale: 1.05;
}

/* Enlaces */
a {
  display: block;
  text-align: center;
  margin-top: 25px;
  color: #99fdff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lista de medicamentos */
ul#lista {
  list-style-type: none;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
}

ul#lista li {
  background-color: #e9ecef;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Mensajes de estado */
#scriptStatusLista,
#scriptStatusRegistro,
#scriptStatus {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

